RUST_LOG=info
RPC_URL=http://127.0.0.1:8899
TEST_SENDER_KEYPAIR=123

# Private Key Signer
KORA_PRIVATE_KEY=123

# Turnkey Signer
TURNKEY_API_PUBLIC_KEY=123
TURNKEY_API_PRIVATE_KEY=123
TURNKEY_ORGANIZATION_ID=123
TURNKEY_PRIVATE_KEY_ID=123
TURNKEY_PUBLIC_KEY=123

# Privy Signer
PRIVY_APP_ID=your-privy-app-id
PRIVY_APP_SECRET=your-privy-app-secret
PRIVY_WALLET_ID=your-privy-wallet-id

# Grafana
GF_SECURITY_ADMIN_PASSWORD=your_secure_password_here
GF_SECURITY_ADMIN_USER=admin

# (see https://launch.solana.com/docs/kora/operators/signers for more information on signer keys)